.trustedBy {
  background-color: #fafafa;

  display: flex;
  justify-content: center;
  .container {
    height: 100px;
    max-width: 760px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: lightgray;
    font-weight: 500;
    @media screen and (max-width: 490px) {
      flex-direction: column;
      height: 100%;
      margin-top: 40px;
    }
    img {
      height: 50px;
      object-fit: contain;
    }
  }
}
